/*
GERAL
*/

 html body {
    height: 100%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #4d4d4d;
	overflow-x: hidden;
}

h1, h2, h3 {
    margin: 0;
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.botao {
    color: #f1f1f1;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #8f3faf;
    font-size: .9em;
    border-radius: 3px;
}

.tudo{
    width: 100%;
    padding: 0px;
    background-color: #fff;
    margin: 0 auto;
}


nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4d4d4d;
}

nav > a {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 700;
    font-size: 28px;
    font-family: Pacifico, serif;

}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #f1f1f1;
}


/*
CABEÇALHO
*/

header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header p {
    margin-bottom: 2em;
}
.titulo{
    width: 100%;
    height: 100%;
    background: url(img/pexels.jpg) no-repeat;
    background-size: 100% 170%;}
	
.titulo-texto{
width: 100%;
  padding-top: 250px;
}

form {
    text-align: center;
    margin: 10 auto; 
}

.formula{

    margin: 0 auto;
    width: 20%;
}


/*
FOOTER

*/
.rodape{
    text-align: left;
    position: relative;
    padding: 10px;
    bottom:0; 
}
footer  {
	position: absolute;
	text-align: center;
    padding: 10px;
    background-color: #4d4d4d;	
    bottom: 0;
    clear: both;
    margin: 0 auto;
    width: 100%;
    height: 140px;
    color: #fff;
}




.galeria h2{
       text-align: center;
    margin-top: 15px;}
    

.galeria img{
   width: 350px;
    height: 470px;
   background-color: #000;
   color: #FFF;
   display: block;
   margin-left: auto;
   margin-right: auto; 
    } 

/*Hobbies*/
.hobbie h1 ,h2 {
     text-align: center;
    margin-top: 15px;
}
.sobre img{
   width: 200px;
   height: 200px;
   background-color: #000;
   color: #FFF;
   border-radius: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto; 
  
}
.sobre h1{
text-align: center;
margin-top: 15px;
}



/*
MEDIA QUERIES
*/

@media screen and (min-width: 300px) {
    /*
    NAVEGAÇÃO
    */
    nav {
        padding: 10px:;
        flex-direction: row;
        justify-content: space-around;
    }
    
    nav ul {
        flex-direction: row;
        width: 70%;
    }
    
    /*
    CABEÇALHO
    */
    
    header {
        height: 600px;
        justify-content: center;
    }
footer {
	position: relative;
    text-align: center;
    padding: 10px;
    background-color: #4d4d4d;
    bottom: 0;
    clear: both;
    margin: 0 auto;
    width: 100%;
    height: 140px;
    color: #fff;
	}
}

































